<div class="flex-container titlepage">
  <div class="row">
      <div class="grid-example col s12">
        <span class="title-image">
        <%= image_tag("http://res.cloudinary.com/ethankhoa/image/upload/v1489577145/catlogo.png.png") %>
      </span>
        <h1>Welcome to Meower</h1>
    </div>
    <div class="row">
     <div class="col s6 waves-effect waves-light btn-large green titlebutton"><%= link_to('Login', new_user_session_path)  %></div>
     <div class="col s6 waves-effect waves-light btn-large green titlebutton"><%= link_to('Sign up', new_user_registration_path)  %></div>
   </div>





               <p><%= notice %></p>
               <p><%= alert %></p>




</div>
</div>
