<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meow %>
    <%= f.text_area :content %>
  </div>



  <div class="actions">
    <% f.submit %>
    <button class="btn waves-effect waves-dark green" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
  </div>
<% end %>
